{% extends "base.html" %}
{% block content %}
	<form id="" class="" action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<label for="{{ form.identifier.label }}" id="" class="" >{{ form.identifier.label }}</label>
		<br>
		{{ form.identifier }}
		<br>
		<label for="{{ form.file.label }}" id="" class="" >{{ form.file.label }}</label>
		<br>
		{{ form.file }}
		<br>
		<input type="submit" name="upload" id="" value="Upload">

	</form>

{% endblock %}
